In [1]:
import pandas as pd

In [2]:
# Load data set into a Dataframe
df = pd.read_csv(r"C:\Users\Amrit\Desktop\School\data301\course-project-solo_119\data\data.raw\default of credit card clients.csv")

In [3]:
print(df.head(10))

  Unnamed: 0         X1   X2         X3        X4   X5     X6     X7     X8  \
0         ID  LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE  PAY_0  PAY_2  PAY_3
1          1      20000    2          2         1   24      2      2     -1
2          2     120000    2          2         2   26     -1      2      0
3          3      90000    2          2         2   34      0      0      0
4          4      50000    2          2         1   37      0      0      0
5          5      50000    1          2         1   57     -1      0     -1
6          6      50000    1          1         2   37      0      0      0
7          7     500000    1          1         2   29      0      0      0
8          8     100000    2          2         2   23      0     -1     -1
9          9     140000    2          3         1   28      0      0      2

      X9  ...        X15        X16        X17       X18       X19       X20  \
0  PAY_4  ...  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  PAY_AMT3
1     -1  ...          0          0          0         0       689         0
2      0  ...       3272       3455       3261         0      1000      1000
3      0  ...      14331      14948      15549      1518      1500      1000
4      0  ...      28314      28959      29547      2000      2019      1200
5      0  ...      20940      19146      19131      2000     36681     10000
6      0  ...      19394      19619      20024      2500      1815       657
7      0  ...     542653     483003     473944     55000     40000     38000
8      0  ...        221       -159        567       380       601         0
9      0  ...      12211      11793       3719      3329         0       432

        X21       X22       X23                           Y
0  PAY_AMT4  PAY_AMT5  PAY_AMT6  default payment next month
1         0         0         0                           1
2      1000         0      2000                           1
3      1000      1000      5000                           0
4      1100      1069      1000                           0
5      9000       689       679                           0
6      1000      1000       800                           0
7     20239     13750     13770                           0
8       581      1687      1542                           0
9      1000      1000      1000                           0

[10 rows x 25 columns]

In [4]:
# Use code below to see if any Nan/NA values in df
nan_in_df = df.isnull().values.any()
print(nan_in_df)

False

In [52]:
# Reanme all columns in Dataframe to names in the first row
df.rename(columns={'Unnamed: 0': 'ID', 'X1': 'Limit_BAL', 'X2': 'SEX', 'X3': 'EDUCATION',
                           'X4': 'MARRIAGE', 'X5': 'AGE', 'X6': 'PAY_APR', 'X7': 'PAY_MAY',
                           'X8': 'PAY_JUN', 'X9': 'PAY_JUL', 'X10': 'PAY_AUG', 'X11': 'PAY_SEPT',
                           'X12': 'BILL_AMT_APR', 'X13': 'BILL_AMT_MAY', 'X14': 'BILL_AMT_JUN',
                           'X15': 'BILL_AMT_JUL', 'X16': 'BILL_AMT_AUG', 'X17': 'BILL_AMT_SEPT',
                           'X18': 'PAY_AMT_APR', 'X19': 'PAY_AMT_MAY', 'X20': 'PAY_AMT_JUN',
                           'X21': 'PAY_AMT_JUL', 'X22': 'PAY_AMT_AUG', 'X23': 'PAY_AMT_SEPT',
                           'Y': 'PAY_NEXT_MONTH'}, inplace=True)

In [6]:
# Use df.drop to remove duplicate names from Dataframe
# Make the change directly to the Dataframe
df.drop(df.index[0], inplace=True)
print(df.head(10))

    ID Limit_BAL SEX EDUCATION MARRIAGE AGE PAY_APR PAY_MAY PAY_JUN PAY_JUL  \
1    1     20000   2         2        1  24       2       2      -1      -1
2    2    120000   2         2        2  26      -1       2       0       0
3    3     90000   2         2        2  34       0       0       0       0
4    4     50000   2         2        1  37       0       0       0       0
5    5     50000   1         2        1  57      -1       0      -1       0
6    6     50000   1         1        2  37       0       0       0       0
7    7    500000   1         1        2  29       0       0       0       0
8    8    100000   2         2        2  23       0      -1      -1       0
9    9    140000   2         3        1  28       0       0       2       0
10  10     20000   1         3        2  35      -2      -2      -2      -2

    ... BILL_AMT_JUL BILL_AMT_AUG BILL_AMT_SEPT PAY_AMT_APR PAY_AMT_MAY  \
1   ...            0            0             0           0         689
2   ...         3272         3455          3261           0        1000
3   ...        14331        14948         15549        1518        1500
4   ...        28314        28959         29547        2000        2019
5   ...        20940        19146         19131        2000       36681
6   ...        19394        19619         20024        2500        1815
7   ...       542653       483003        473944       55000       40000
8   ...          221         -159           567         380         601
9   ...        12211        11793          3719        3329           0
10  ...            0        13007         13912           0           0

   PAY_AMT_JUN PAY_AMT_JUL PAY_AMT_AUG PAY_AMT_SEPT PAY_NEXT_MONTH
1            0           0           0            0              1
2         1000        1000           0         2000              1
3         1000        1000        1000         5000              0
4         1200        1100        1069         1000              0
5        10000        9000         689          679              0
6          657        1000        1000          800              0
7        38000       20239       13750        13770              0
8            0         581        1687         1542              0
9          432        1000        1000         1000              0
10           0       13007        1122            0              0

[10 rows x 25 columns]

In [55]:
# Export the Dataframe to a csv and exclude the index from the Dataframe
df.to_csv(r'C:\Users\Amrit\Desktop\School\data301\course-project-solo_119\data\data.processed\Credit_Card_Data.csv', index = False)

In [69]:
def load_and_process(df3):
    #Method 1 load csv file and drop for Nan values
    df1 = (
        pd.read_csv(r"C:\Users\Amrit\Desktop\School\data301\course-project-solo_119\data\data.raw\default of credit card clients.csv")
        .dropna(inplace = False)
    )
    # Method 2 rename all columns in Dataframe
    df2 = (
        df1
        .rename(columns={'Unnamed: 0': 'ID', 'X1': 'Limit_BAL', 'X2': 'SEX', 'X3': 'EDUCATION',
                           'X4': 'MARRIAGE', 'X5': 'AGE', 'X6': 'PAY_APR', 'X7': 'PAY_MAY',
                           'X8': 'PAY_JUN', 'X9': 'PAY_JUL', 'X10': 'PAY_AUG', 'X11': 'PAY_SEPT',
                           'X12': 'BILL_AMT_APR', 'X13': 'BILL_AMT_MAY', 'X14': 'BILL_AMT_JUN',
                           'X15': 'BILL_AMT_JUL', 'X16': 'BILL_AMT_AUG', 'X17': 'BILL_AMT_SEPT',
                           'X18': 'PAY_AMT_APR', 'X19': 'PAY_AMT_MAY', 'X20': 'PAY_AMT_JUN',
                           'X21': 'PAY_AMT_JUL', 'X22': 'PAY_AMT_AUG', 'X23': 'PAY_AMT_SEPT',
                           'Y': 'PAY_NEXT_MONTH'}, inplace=False)
    )
    # Method 3 use .drop to remove duplicate names from Dataframe
    df3 = (
        df2
        .drop(df.index[0], inplace=False)
    )
    
    return df3